// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;
* {
  font-family: "Roboto" !important;
}

body:not(.welcome-layout) {
  background-color: #fffbf3 !important;
}

body, .v-application:not(.welcome-layout) {
  background-color: #fffbf3 !important;
}
  
.max-width-1400 {
  max-width: 1400px;
}

.fill-width {
  width: 100% !important;
}

md-icon{
  font-family: 'Material Icons' !important;
}